.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.txt-todo {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  color: #787a80;
}

.txt-todo:focus {
  outline: none;
}

.btn {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

ul {
  list-style: none;
  text-align: left;
  padding: 15px;
  background: #171a1f;
  border-radius: 5px;
  margin-top: 10px
}

li {
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  background: #282c34;
  border-radius: 5px;
  overflow-wrap: break-word;
}

li > .li-todo {
  width: 40%;
  color: white;
  float: right;
}

.btn-edit {
  background: #ffaa00;
  float: right;
}

.btn-remove {
  background: #e63900;
  float: right;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }
  .txt-todo {
    width: 100%
  }
  .btn {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }
  .txt-todo {
    width: 50%;
  }
  .btn {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}